<project>
	<target name="deploy" depends="undeploy,ear">
		 <antcall target="${app.server}.deploy"/>
	</target>
	<target name="redeploy" description="redeploy">
		<antcall target="${app.server}.redeploy"/>
	</target>
	<target name="undeploy">
		<antcall target="${app.server}.undeploy"/>
	</target>
</project>